@import '../../theme/variables/components/popover';
@import '../../theme/base/common/popper.scss';

:host {
    display: inline-block;
}

:host(.bk-popover--disabled) {
    @include util-disabled;
}

@include b(popover) {
    background: $--popover-background-color;
    border-radius: $--border-radius-base;
    border: 1px solid $--popover-border-color;
    padding: $--popover-padding;
    color: $--color-text-regular;
    line-height: 1.4;
    text-align: justify;
    box-shadow: $--box-shadow-light;
    word-break: break-all;
    font-size: $--popover-font-size;
}
