@import '../../theme/variables/components/dropdown';
@import '../../theme/base/common/popper.scss';

:host {
    display: inline-block;
}

:host(.bk-dropdown--disabled) {
    @include util-disabled;
}

@include b(dropdown) {
    display: inline-block;
    position: relative;
    color: $--color-text-regular;
    font-size: $--font-size-base;

    @include e(menu) {
        padding: $--dropdown-menu-box-padding;
        box-shadow: $--dropdown-menu-box-shadow;
        background-color: $--color-white;
        border: 1px solid $--border-color-lighter;
        border-radius: $--border-radius-base;
        min-width: $--dropdown-menu-min-width;
        max-width: $--dropdown-menu-max-width;
    }
}
