@import '../../theme/base/common/popper.scss';

:host {
    display: inline-block;
}

:host(.bk-dropdown--disabled) {
    @include util-disabled;
}

@include b(dropdown) {
    display: inline-block;
    position: relative;
    color: $--color-text-regular;
    font-size: $--font-size-base;

    @include e(menu) {
        position: absolute;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.2s ease-in;
        box-sizing: border-box;
        padding: $--dropdown-menu-box-padding;
        box-shadow: $--dropdown-menu-box-shadow;
        background-color: $--color-white;
        border: 1px solid $--border-color-lighter;
        border-radius: $--border-radius-base;
        min-width: 150px;
        max-width: 300px;

        &:focus:active,
        &:focus {
            outline-width: 0;
        }
    }
}
