/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Toast
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Modal
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* BEM support Func
 -------------------------- */
.bk-popper {
  position: absolute;
  z-index: 2000;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  box-sizing: border-box;
}
.bk-popper:focus:active, .bk-popper:focus {
  outline-width: 0;
}
.bk-popper__arrow, .bk-popper__arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.bk-popper__arrow {
  border-width: 6px;
  filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
}
.bk-popper__arrow::after {
  content: " ";
  border-width: 6px;
}

.bk-popper[data-popper-placement^=top] .bk-popper__arrow {
  bottom: -6px;
  left: 50%;
  margin-right: 3px;
  border-top-color: #ebeef5;
  border-bottom-width: 0;
}
.bk-popper[data-popper-placement^=top] .bk-popper__arrow::after {
  bottom: 0;
  margin-left: -6px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}
.bk-popper[data-popper-placement^=bottom] .bk-popper__arrow {
  top: -6px;
  left: 50%;
  margin-right: 3px;
  border-top-width: 0;
  border-bottom-color: #ebeef5;
}
.bk-popper[data-popper-placement^=bottom] .bk-popper__arrow::after {
  top: 0;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.bk-popper[data-popper-placement^=right] .bk-popper__arrow {
  top: 50%;
  left: -6px;
  margin-bottom: 3px;
  border-right-color: #ebeef5;
  border-left-width: 0;
}
.bk-popper[data-popper-placement^=right] .bk-popper__arrow::after {
  bottom: -6px;
  left: 0;
  border-right-color: #ffffff;
  border-left-width: 0;
}
.bk-popper[data-popper-placement^=left] .bk-popper__arrow {
  top: 50%;
  right: -6px;
  margin-bottom: 3px;
  border-right-width: 0;
  border-left-color: #ebeef5;
}
.bk-popper[data-popper-placement^=left] .bk-popper__arrow::after {
  right: 0;
  bottom: -6px;
  margin-left: -6px;
  border-right-width: 0;
  border-left-color: #ffffff;
}

:host {
  display: inline-block;
}

:host(.bk-popover--disabled) {
  opacity: 0.5;
  pointer-events: none;
}

.bk-popover {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  padding: 16px 20px;
  color: #606266;
  line-height: 1.4;
  text-align: justify;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  word-break: break-all;
  font-size: 14px;
}