/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Toast
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Modal
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* BEM support Func
 -------------------------- */
.bk-dropdown-list__content {
  min-width: 200px;
  outline: none;
}

.bk-dropdown-list__no-option {
  color: #909399;
  text-align: center;
  margin-top: 10px;
}

.bk-dropdown-list__search {
  margin-bottom: 5px;
}

.bk-dropdown-list__list {
  padding: 0;
  margin: 0 -20px;
  max-height: 250px;
  overflow-y: auto;
}

.bk-dropdown-list__item {
  list-style: none;
  margin: 0;
}
.bk-dropdown-list__item > a {
  display: block;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
  color: #606266;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
.bk-dropdown-list__item > a:not(.is-disabled):not(:focus):not(.is-active):hover {
  background-color: #ecf5ff;
  color: #66b1ff;
}
.bk-dropdown-list__item > a.is-active {
  background-color: #409eff;
  color: #ffffff;
}

.bk-dropdown-list__item > a.is-disabled {
  cursor: default;
  color: #bbb;
  pointer-events: none;
}

.bk-dropdown-list__item--divided {
  position: relative;
  margin-top: 6px;
  border-top: 1px solid #ebeef5;
}
.bk-dropdown-list__item--divided:before {
  content: "";
  height: 6px;
  display: block;
  margin: 0 -20px;
  background-color: #ffffff;
}

.bk-dropdown-list__close-btn {
  pointer-events: all;
}