:host {
    display: inline-block;

    &:focus,
    &:active {
        outline-width: 0;
    }
}

@include b(rate) {
    @include e(item) {
        display: inline-block;
        position: relative;
        font-size: 0;
        vertical-align: middle;
        cursor: pointer;
    }

    @include e(icon) {
        position: relative;
        display: inline-block;
        margin-right: $--rate-icon-margin;
        color: $--rate-icon-color;
        transition: 0.15s;

        @include when(hover) {
            transform: scale(0.85);
        }
    }

    @include e(decimal) {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        overflow: hidden;
    }

    @include e(text) {
        font-size: $--rate-font-size;
        vertical-align: middle;
    }
}
