/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Toast
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Modal
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* BEM support Func
 -------------------------- */
:host {
  display: block;
  width: 100%;
}

.bk-progress {
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
}
.bk-progress__text {
  font-size: 14px;
  color: #606266;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 1;
}
.bk-progress__text.inner {
  font-size: 12px;
  padding: 0 12px;
  color: #ffffff;
}

.bk-progress--text-inside .bk-progress-bar__outer {
  height: 16px;
}

.bk-progress.info .bk-progress-bar__inner {
  background-color: #909399;
}
.bk-progress.info .bk-progress-circle__inner {
  stroke: #909399;
}
.bk-progress.info .bk-progress__text.inner.no-progress {
  color: #909399;
}
.bk-progress.danger .bk-progress-bar__inner {
  background-color: #f56c6c;
}
.bk-progress.danger .bk-progress-circle__inner {
  stroke: #f56c6c;
}
.bk-progress.danger .bk-progress__text.inner.no-progress {
  color: #f56c6c;
}
.bk-progress.warning .bk-progress-bar__inner {
  background-color: #e6a23c;
}
.bk-progress.warning .bk-progress-circle__inner {
  stroke: #e6a23c;
}
.bk-progress.warning .bk-progress__text.inner.no-progress {
  color: #e6a23c;
}
.bk-progress.success .bk-progress-bar__inner {
  background-color: #67c23a;
}
.bk-progress.success .bk-progress-circle__inner {
  stroke: #67c23a;
}
.bk-progress.success .bk-progress__text.inner.no-progress {
  color: #67c23a;
}
.bk-progress.default .bk-progress-bar__inner {
  background-color: #409eff;
}
.bk-progress.default .bk-progress-circle__inner {
  stroke: #409eff;
}
.bk-progress.default .bk-progress__text.inner.no-progress {
  color: #409eff;
}
.bk-progress--flip {
  transform: rotate(180deg);
}

.bk-progress-bar {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
}
.bk-progress-bar__outer {
  height: 6px;
  border-radius: 100px;
  background-color: #ebeef5;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.bk-progress-bar__inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #409eff;
  text-align: right;
  border-radius: 100px;
  line-height: 1;
  white-space: nowrap;
  transition: width 0.6s ease;
}
.bk-progress-bar__inner::after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}

.bk-progress-circle {
  height: 100%;
  width: 100%;
}
.bk-progress-circle__outer, .bk-progress-circle__inner {
  stroke-width: 3px;
}
.bk-progress-circle__outer {
  stroke: #e5e9f2;
}
.bk-progress-circle__inner {
  transition: stroke-dasharray 0.6s ease 0s, stroke 0.6s ease 0s;
}
.bk-progress-circle .bk-progress__text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  transform: translateY(-50%);
}