/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Toast
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Modal
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* BEM support Func
 -------------------------- */
:host {
  display: block;
  width: 100%;
  font-size: 14px;
}

.bk-slider {
  width: 100%;
  height: 0.25em;
  margin: 1em 0;
  background-color: #e4e7ed;
  border-radius: 0.25em;
  position: relative;
  vertical-align: middle;
  opacity: 0.5;
  pointer-events: none;
}
.bk-slider__bar {
  height: 0.25em;
  border-top-left-radius: 0.125em;
  border-bottom-left-radius: 0.125em;
  position: absolute;
  transition: width 0.2s linear;
}

.bk-slider__button {
  height: 2em;
  width: 2em;
  position: absolute;
  z-index: 1001;
  top: 0.125em;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: transparent;
  text-align: center;
  user-select: none;
  line-height: normal;
  transition: left 0.2s linear;
}
.bk-slider__button::after {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.bk-slider__button-inner {
  width: 1em;
  height: 1em;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.2s;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
}

.bk-slider__tooltip-content {
  white-space: nowrap;
}

.bk-slider.bk-slider--info .bk-slider__bar {
  background-color: #909399;
}
.bk-slider.bk-slider--info .bk-slider__button-inner {
  border: 2px solid #909399;
}
.bk-slider.bk-slider--danger .bk-slider__bar {
  background-color: #f56c6c;
}
.bk-slider.bk-slider--danger .bk-slider__button-inner {
  border: 2px solid #f56c6c;
}
.bk-slider.bk-slider--warning .bk-slider__bar {
  background-color: #e6a23c;
}
.bk-slider.bk-slider--warning .bk-slider__button-inner {
  border: 2px solid #e6a23c;
}
.bk-slider.bk-slider--success .bk-slider__bar {
  background-color: #67c23a;
}
.bk-slider.bk-slider--success .bk-slider__button-inner {
  border: 2px solid #67c23a;
}
.bk-slider.bk-slider--default .bk-slider__bar {
  background-color: #409eff;
}
.bk-slider.bk-slider--default .bk-slider__button-inner {
  border: 2px solid #409eff;
}
.bk-slider:not(.bk-slider--disabled) {
  pointer-events: all;
  opacity: 1;
}
.bk-slider:not(.bk-slider--disabled) .bk-slider__button {
  cursor: grab;
}
.bk-slider:not(.bk-slider--disabled) .bk-slider__button:hover .bk-slider__button-inner, .bk-slider:not(.bk-slider--disabled) .bk-slider__button:active .bk-slider__button-inner {
  transform: scale(1.2);
}
.bk-slider--disabled .bk-slider__button {
  outline: none;
}