@mixin base {
    line-height: $--input-height;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: $--input-font-color;
    background-color: $--input-background-color;
    background-image: none;
    border: $--input-border;
    border-radius: $--input-border-radius;
    transition: $--border-transition-base;
    outline: none;

    &::placeholder {
        color: $--input-placeholder-color;
    }

    &:hover {
        border-color: $--input-hover-border;
    }

    &:focus {
        outline: none;
        border-color: $--input-focus-border;
    }

    &:disabled {
        @include util-disabled();
    }
}

@include b(textarea) {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: $--font-size-base;

    @include e(inner) {
        display: block;
        resize: vertical;
        padding: 5px 15px;
        @include base();
    }

    @include when(exceed) {
        .bk-textarea__inner {
            border-color: $--color-danger;
        }

        .bk-input__count {
            color: $--color-danger;
        }
    }
}

@include b(input) {
    position: relative;
    font-size: $--font-size-base;
    display: inline-block;
    width: 100%;
    @include scroll-bar;

    & .bk-input__clear {
        color: $--input-icon-color;
        font-size: $--input-font-size;
        cursor: pointer;
        transition: $--color-transition-base;

        &:hover {
            color: $--input-clear-hover-color;
        }
    }

    & .bk-input__count {
        height: 100%;
        display: inline-flex;
        align-items: center;
        color: $--color-info;
        font-size: 12px;

        .bk-input__count-inner {
            background: $--color-white;
            line-height: initial;
            display: inline-block;
            padding: 0 5px;
        }
    }

    @include e(inner) {
        -webkit-appearance: none;
        height: $--input-height;
        display: block;
        padding: 0 15px;
        @include base();
    }

    @include e(suffix) {
        position: absolute;
        height: 100%;
        right: 5px;
        top: 0;
        text-align: center;
        color: $--input-icon-color;
        transition: all 0.3s;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include e(suffix-inner) {
        pointer-events: all;
    }

    @include e(prefix) {
        position: absolute;
        height: 100%;
        left: 5px;
        top: 0;
        text-align: center;
        color: $--input-icon-color;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include e(icon) {
        height: 100%;
        width: 25px;
        text-align: center;
        transition: all 0.3s;
        line-height: $--input-height;

        &:after {
            content: '';
            height: 100%;
            width: 0;
            display: inline-block;
            vertical-align: middle;
        }
    }

    @include e(validateIcon) {
        pointer-events: none;
    }

    @include when(active) {
        .bk-input__inner {
            outline: none;
            border-color: $--input-focus-border;
        }
    }

    @include when(exceed) {
        .bk-input__inner {
            border-color: $--color-danger;
        }

        .bk-input__suffix {
            .bk-input__count {
                color: $--color-danger;
            }
        }
    }

    @include m(suffix) {
        .bk-input__inner {
            padding-right: 30px;
        }
    }

    @include m(prefix) {
        .bk-input__inner {
            padding-left: 30px;
        }
    }

    @include m(medium) {
        font-size: $--input-medium-font-size;

        @include e(inner) {
            height: $--input-medium-height;
            line-height: $--input-medium-height;
        }

        .bk-input__icon {
            line-height: $--input-medium-height;
        }
    }
    @include m(small) {
        font-size: $--input-small-font-size;

        @include e(inner) {
            height: $--input-small-height;
            line-height: $--input-small-height;
        }

        .bk-input__icon {
            line-height: $--input-small-height;
        }
    }
    @include m(mini) {
        font-size: $--input-mini-font-size;

        @include e(inner) {
            height: $--input-mini-height;
            line-height: $--input-mini-height;
        }

        .bk-input__icon {
            line-height: $--input-mini-height;
        }
    }
}

@include b(input-group) {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    > .bk-input__inner {
        vertical-align: middle;
        display: table-cell;
    }

    @include e((append, prepend)) {
        background-color: $--background-color-base;
        color: $--color-info;
        vertical-align: middle;
        display: table-cell;
        position: relative;
        border: $--border-base;
        border-radius: $--input-border-radius;
        padding: 0 20px;
        width: 1px;
        white-space: nowrap;

        &:focus {
            outline: none;
        }

        .bk-select,
        .bk-button {
            display: inline-block;
            margin: -10px -20px;
        }

        button.bk-button,
        div.bk-select .bk-input__inner,
        div.bk-select:hover .bk-input__inner {
            border-color: transparent;
            background-color: transparent;
            color: inherit;
            border-top: 0;
            border-bottom: 0;
        }

        .bk-button,
        .bk-input {
            font-size: inherit;
        }
    }

    @include e(prepend) {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    @include e(append) {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    @include m(prepend) {
        .bk-input__inner {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .bk-select .bk-input.is-focus .bk-input__inner {
            border-color: transparent;
        }
    }

    @include m(append) {
        .bk-input__inner {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .bk-select .bk-input.is-focus .bk-input__inner {
            border-color: transparent;
        }
    }
}

/** disalbe default clear on IE */
.bk-input__inner::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

// ---------------------------

@include b(select) {
    -webkit-appearance: none;
    height: $--input-height;
    display: block;
    padding: 0 15px;
    @include base();

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23dbdee6' d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 4px top 50%, 0 0;
    /* icon size, then gradient */
    background-size: 0.65em auto, 100%;

    @include m(medium) {
        font-size: $--input-medium-font-size;
        height: $--input-medium-height;
        line-height: $--input-medium-height;
    }
    @include m(small) {
        font-size: $--input-small-font-size;
        height: $--input-small-height;
        line-height: $--input-small-height;
    }
    @include m(mini) {
        font-size: $--input-mini-font-size;
        height: $--input-mini-height;
        line-height: $--input-mini-height;
    }
}
