@include b(table) {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    max-width: 100%;
    font-size: $--font-size-base;
    color: $--table-font-color;
    border-right: 0;
    border-bottom: 0;

    table {
        table-layout: fixed;
        border-collapse: separate;

        tbody tr {
            &.is-warning {
                background-color: $--color-warning-light;
            }

            &.is-success {
                background-color: $--color-success-light;
            }

            &.is-info {
                background-color: $--color-info-light;
            }

            &.is-danger {
                background-color: $--color-danger-light;
            }
        }
    }

    thead {
        color: $--table-header-font-color;
        font-weight: 500;
    }

    th,
    td {
        padding: 12px 0;
        min-width: 0;
        box-sizing: border-box;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;
        text-align: left;

        @include when(center) {
            text-align: center;
        }

        @include when(right) {
            text-align: right;
        }
    }

    tr {
        background-color: $--color-white;

        input[type='checkbox'] {
            margin: 0;
        }
    }

    th,
    td {
        border-bottom: $--table-border;
    }

    th {
        overflow: hidden;
        user-select: none;
        background-color: $--table-header-background-color;

        > .cell {
            display: inline-block;
            box-sizing: border-box;
            position: relative;
            vertical-align: middle;
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;

            &.highlight {
                color: $--color-primary;
            }
        }
    }

    .cell {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        line-height: 23px;
        padding-left: 10px;
        padding-right: 10px;
    }

    @include m(responsive) {
        @extend .bk-scroll-x;
        width: 100%;
    }

    @include m(fixed-header) {
        width: 100%;

        .cell {
            white-space: normal;
        }
    }

    @include m(medium) {
        th,
        td {
            padding: 10px 0;
        }
    }

    @include m(small) {
        font-size: 12px;
        th,
        td {
            padding: 8px 0;
        }
    }

    @include m(mini) {
        font-size: 12px;
        th,
        td {
            padding: 6px 0;
        }
    }

    @include m((border)) {
        border: $--table-border;

        @include share-rule(border-pseudo) {
            content: '';
            position: absolute;
            background-color: $--table-border-color;
            z-index: 1;
        }

        &::after {
            @include extend-rule(border-pseudo);
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
        }
    }

    @include m((border)) {
        border-right: none;
        border-bottom: none;

        &.bk-loading-parent--relative {
            border-color: transparent;
        }

        th:not(:last-child),
        td:not(:last-child) {
            border-right: $--table-border;
        }

        & th {
            border-bottom: $--table-border;
        }
    }

    @include m(striped) {
        tbody {
            & tr:nth-of-type(even) {
                td {
                    background: $--border-color-extra-light;
                }
            }
        }
    }

    @include m(hover) {
        tbody {
            td {
                transition: background-color 0.25s ease;
            }

            tr:hover > td {
                background-color: $--table-row-hover-background-color;
            }
        }
    }
}
