@include b(timeline) {
    margin: 0;
    font-size: $--font-size-base;
    list-style: none;

    & .bk-timeline-item:last-child {
        & .bk-timeline-item__tail {
            display: none;
        }
    }
}
