@import '../../theme/variables/components/card';

:host {
    border-radius: $--card-border-radius;
    border: 1px solid $--card-border-color;
    background-color: $--color-white;
    overflow: hidden;
    color: $--color-text-primary;
    transition: 0.3s;
    display: block;
}

:host(.is-always-shadow) {
    box-shadow: $--box-shadow-light;
}

:host(.is-hover-shadow) {
    outline: none;

    &:hover,
    &:focus {
        box-shadow: $--box-shadow-light;
    }
}

::slotted([slot='header']) {
    padding: #{$--card-padding - 4 $--card-padding};
    border-bottom: 1px solid $--card-border-color;
    box-sizing: border-box;
    font-size: 1.1em;
}

::slotted([slot='body']) {
    padding: $--card-padding;
}
