@import '../../theme/variables/components/alert';
@import '../../theme/base/common/close-button.scss';

:host {
    display: block;
    width: 100%;
    padding: $--alert-padding;
    margin: 0;
    box-sizing: border-box;
    border-radius: $--alert-border-radius;
    position: relative;
    background-color: $--color-white;
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    transition: opacity 0.2s;
    font-size: $--alert-font-size;

    .bk-alert__close-btn {
        @include close-button();
        top: 13px;
        right: 0;

        i {
            height: 1rem;
            width: 1rem;
            display: inline-block;
        }
    }
}

:host(.is--dismissible) {
    padding-right: 32px;
}

:host(.bk-alert--default) {
    border-color: $--color-primary;

    &.bk-alert--light {
        background-color: $--alert-default-color;
        color: $--color-primary;

        .bk-alert__close-btn {
            color: $--color-primary;
        }
    }

    &.bk-alert--dark {
        background-color: $--color-primary;
        color: $--color-white;

        .bk-alert__close-btn {
            color: $--color-white;
        }
    }
}

:host(.bk-alert--success) {
    border-color: $--color-success;

    &.bk-alert--light {
        background-color: $--alert-success-color;
        color: $--color-success;

        .bk-alert__close-btn {
            color: $--color-success;
        }
    }

    &.bk-alert--dark {
        background-color: $--color-success;
        color: $--color-white;

        .bk-alert__close-btn {
            color: $--color-white;
        }
    }
}

:host(.bk-alert--info) {
    border-color: $--color-info;

    &.bk-alert--light {
        background-color: $--alert-info-color;
        color: $--color-info;

        .bk-alert__close-btn {
            color: $--color-info;
        }
    }

    &.bk-alert--dark {
        background-color: $--color-info;
        color: $--color-white;

        .bk-alert__close-btn {
            color: $--color-white;
        }
    }
}

:host(.bk-alert--warning) {
    border-color: $--color-warning;

    &.bk-alert--light {
        background-color: $--alert-warning-color;
        color: $--color-warning;

        .bk-alert__close-btn {
            color: $--color-warning;
        }
    }

    &.bk-alert--dark {
        background-color: $--color-warning;
        color: $--color-white;

        .bk-alert__close-btn {
            color: $--color-white;
        }
    }
}

:host(.bk-alert--danger) {
    border-color: $--color-danger;

    &.bk-alert--light {
        background-color: $--alert-danger-color;
        color: $--color-danger;

        .bk-alert__close-btn {
            color: $--color-danger;
        }
    }

    &.bk-alert--dark {
        background-color: $--color-danger;
        color: $--color-white;

        .bk-alert__close-btn {
            color: $--color-white;
        }
    }
}
