:host {
    display: block;
}

@include b(collapse-item) {
    @include e(header) {
        display: flex;
        align-items: center;
        height: $--collapse-header-height;
        line-height: $--collapse-header-height;
        background-color: $--collapse-header-background-color;
        color: $--collapse-header-font-color;
        cursor: pointer;
        border-bottom: 1px solid $--collapse-border-color;
        font-size: $--collapse-header-font-size;
        font-weight: 500;
        transition: border-bottom-color 0.3s;
        outline: none;

        @include e(arrow) {
            margin: 0 8px 0 auto;
            transition: transform 0.3s;
            width: 20px;
        }

        &:focus {
            color: $--color-primary;
        }
    }

    @include e(wrap) {
        will-change: height;
        background-color: $--collapse-content-background-color;
        overflow: hidden;
        box-sizing: border-box;
        border-bottom: 1px solid $--collapse-border-color;
        opacity: 0;
        position: absolute;
    }

    @include e(content) {
        padding-bottom: 25px;
        font-size: $--collapse-content-font-size;
        color: $--collapse-content-font-color;
        line-height: 1.769230769230769;
    }

    &:last-child {
        margin-bottom: -1px;
    }
}

:host(.is-active) {
    @include e(header) {
        border-bottom-color: transparent;
    }

    @include e(arrow) {
        transform: rotate(90deg);
    }
}

:host(.is-disabled) {
    @include util-disabled();
}
