$--collapse-border-color: $--border-color-light !default;
$--collapse-header-height: 48px !default;
$--collapse-header-background-color: $--color-white !default;
$--collapse-header-font-color: $--color-text-primary !default;
$--collapse-header-font-size: 13px !default;
$--collapse-content-background-color: $--color-white !default;
$--collapse-content-font-size: 13px !default;
$--collapse-content-font-color: $--color-text-primary !default;
