$--dropdown-menu-box-shadow: $--box-shadow-light !default;
$--dropdown-menu-box-padding: 20px !default;
$--dropdown-menu-min-width: 150px !default;
$--dropdown-menu-max-width: 300px !default;

$--dropdown-menuItem-hover-fill: $--color-primary-light-9 !default;
$--dropdown-menuItem-hover-color: $--link-color !default;
$--dropdown-menuItem-focus-fill: $--color-primary !default;
$--dropdown-menuItem-focus-color: $--color-white !default;
$--dropdown-list-max-height: 250px !default;
$--dropdown-list-min-width: 200px !default;
