$--modal-background-color: $--color-white !default;
$--modal-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
$--modal-title-font-size: $--font-size-large !default;
$--modal-font-line-height: $--font-line-height-primary !default;
$--modal-padding: 20px !default;
