$--alert-padding: 16px 20px !default;
$--alert-border-radius: $--border-radius-base !default;
$--alert-font-size: $--font-size-base !default;
$--alert-default-color: $--color-primary-light-9 !default;
$--alert-success-color: $--color-success-lighter !default;
$--alert-info-color: $--color-info-lighter !default;
$--alert-warning-color: $--color-warning-lighter !default;
$--alert-danger-color: $--color-danger-lighter !default;
// not in use

$--steps-border-color: $--disabled-border-base !default;
$--steps-border-radius: 4px !default;
$--steps-padding: 20px !default;
