$--toast-font-size: $--font-size-base;
$--toast-width: 330px !default;
$--toast-padding: 16px 20px !default;
$--toast-radius: $--border-radius-base !default;
$--toast-shadow: $--box-shadow-light !default;
$--toast-icon-size: 28px !default;
$--toast-group-padding: 0 20px 0 5px !default;
$--toast-title-font-size: 1.1em !default;
$--toast-position: 10px;
$--toast-border-color: $--border-color-lighter !default;
$--toast-content-color: $--color-text-regular !default;
$--toast-title-color: $--color-text-primary !default;
$--toast-success-icon-color: $--color-success !default;
$--toast-info-icon-color: $--color-info !default;
$--toast-warning-icon-color: $--color-warning !default;
$--toast-danger-icon-color: $--color-danger !default;
