$--color-html-bg: var(--color-html-bg);

$--color-white: var(--color-white);
$--color-black: var(--color-black);

$--color-primary: var(--color-primary);
$--color-primary-light-2: var(--color-primary-light-9, lighter($--color-primary, 20));
$--color-primary-light-3: var(--color-primary-light-9, lighter($--color-primary, 30));
$--color-primary-light-4: var(--color-primary-light-9, lighter($--color-primary, 40));
$--color-primary-light-5: var(--color-primary-light-9, lighter($--color-primary, 50));
$--color-primary-light-6: var(--color-primary-light-9, lighter($--color-primary, 60));
$--color-primary-light-7: var(--color-primary-light-9, lighter($--color-primary, 70));
$--color-primary-light-8: var(--color-primary-light-9, lighter($--color-primary, 80));
$--color-primary-light-9: var(--color-primary-light-9, lighter($--color-primary, 90));

$--color-success: var(--color-success);
$--color-success-light: var(--color-primary-light-9, lighter($--color-success, 80));
$--color-success-lighter: var(--color-primary-light-9, lighter($--color-success, 90));

$--color-warning: var(--color-warning);
$--color-warning-light: var(--color-primary-light-9, lighter($--color-warning, 80));
$--color-warning-lighter: var(--color-primary-light-9, lighter($--color-warning, 90));

$--color-danger: var(--color-danger);
$--color-danger-light: var(--color-primary-light-9, lighter($--color-danger, 80));
$--color-danger-lighter: var(--color-primary-light-9, lighter($--color-danger, 90));

$--color-info: var(--color-info);
$--color-info-light: var(--color-primary-light-9, lighter($--color-info, 80));
$--color-info-lighter: var(--color-primary-light-9, lighter($--color-info, 90));

$--color-text-primary: var(--color-text-primary);
$--color-text-regular: var(--color-text-regular);
$--color-text-secondary: var(--color-text-secondary);
$--color-text-placeholder: var(--color-text-placeholder);

$--border-color-base: var(--border-color-base);
$--border-color-light: var(--border-color-light);
$--border-color-lighter: var(--border-color-lighter);
$--border-color-extra-light: var(--border-color-extra-light);

$--background-color-base: var(--background-color-base);

$--fill-base: $--color-white !default;

$--link-color: $--color-primary-light-2 !default;
$--link-hover-color: $--color-primary !default;
