$--font-display: 'auto' !default;

$--font-size-extra-large: 20px !default;
$--font-size-large: 18px !default;
$--font-size-medium: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 13px !default;
$--font-size-extra-small: 12px !default;

$--font-weight-primary: 500 !default;
$--font-weight-secondary: 100 !default;

$--font-line-height-primary: 24px !default;
$--font-line-height-secondary: 16px !default;

$--font-color-disabled-base: #bbb !default;
