/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Toast
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Modal
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* BEM support Func
 -------------------------- */
.bk-step {
  position: relative;
  flex-shrink: 1;
}
.bk-step:last-of-type .bk-step__line {
  display: none;
}

.bk-step:last-of-type.is-flex {
  flex-basis: auto !important;
  flex-shrink: 0;
  flex-grow: 0;
}

.bk-step:last-of-type .bk-step__main, .bk-step:last-of-type .bk-step__description {
  padding-right: 0;
}

.bk-step__line {
  position: absolute;
  border-color: inherit;
  background-color: #c0c4cc;
}

.bk-step__line-inner {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  transition: 0.15s ease-out;
  box-sizing: border-box;
  width: 0;
  height: 0;
}

.bk-step__main {
  white-space: normal;
  text-align: left;
}

.bk-step__head {
  position: relative;
  width: 100%;
}

.bk-step__title {
  font-size: 16px;
  line-height: 38px;
}

.bk-step__description {
  padding-right: 10%;
  margin-top: -5px;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}

.bk-step__icon {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  box-sizing: border-box;
  background: #ffffff;
  transition: 0.15s ease-out;
}
.bk-step__icon.is-text {
  border-radius: 50%;
  border: 2px solid;
  border-color: inherit;
}

.bk-step__icon.is-icon {
  width: 40px;
}

.bk-step__icon-inner {
  display: inline-block;
  user-select: none;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  cursor: pointer;
}

.bk-step.is-process .bk-step__head {
  color: #303133;
  border-color: #303133;
}

.bk-step.is-process .bk-step__title {
  font-weight: bold;
  color: #303133;
}

.bk-step.is-process .bk-step__description {
  color: #303133;
}

.bk-step.is-wait .bk-step__head {
  color: #c0c4cc;
  border-color: #c0c4cc;
}

.bk-step.is-wait .bk-step__title {
  color: #c0c4cc;
}

.bk-step.is-wait .bk-step__description {
  color: #c0c4cc;
}

.bk-step.is-wait .bk-step__icon-inner {
  pointer-events: none;
}

.bk-step.is-success .bk-step__head {
  color: #67c23a;
  border-color: #67c23a;
}

.bk-step.is-success .bk-step__title {
  color: #67c23a;
}

.bk-step.is-success .bk-step__description {
  color: #67c23a;
}

.bk-step.is-error .bk-step__head {
  color: #f56c6c;
  border-color: #f56c6c;
}

.bk-step.is-error .bk-step__title {
  color: #f56c6c;
}

.bk-step.is-error .bk-step__description {
  color: #f56c6c;
}

.bk-step.is-finish .bk-step__head {
  color: #409eff;
  border-color: #409eff;
}

.bk-step.is-finish .bk-step__title {
  color: #409eff;
}

.bk-step.is-finish .bk-step__description {
  color: #409eff;
}

.bk-step.is-horizontal {
  display: inline-block;
}
.bk-step.is-horizontal .bk-step__line {
  height: 2px;
  top: 11px;
  left: 0;
  right: 0;
}

.bk-step.is-vertical {
  display: flex;
}
.bk-step.is-vertical .bk-step__head {
  flex-grow: 0;
  width: 24px;
}

.bk-step.is-vertical .bk-step__main {
  padding-left: 10px;
  flex-grow: 1;
}

.bk-step.is-vertical .bk-step__title {
  line-height: 24px;
  padding-bottom: 8px;
}

.bk-step.is-vertical .bk-step__line {
  width: 2px;
  top: 0;
  bottom: 0;
  left: 11px;
}

.bk-step.is-vertical .bk-step__icon.is-icon {
  width: 24px;
}

.bk-step.is-center .bk-step__head {
  text-align: center;
}

.bk-step.is-center .bk-step__main {
  text-align: center;
}

.bk-step.is-center .bk-step__description {
  padding-left: 20%;
  padding-right: 20%;
}

.bk-step.is-center .bk-step__line {
  left: 50%;
  right: -50%;
}

:host {
  width: 100%;
  display: flex;
}

:host(.is-horizontal) {
  white-space: nowrap;
}

:host(.is-vertical) {
  height: 100%;
  flex-flow: column;
}