@import './base/index';

// Fixme move this to relevant file
$--popover-arrow-size: 6px !default;
$--popover-background-color: $--color-white !default;
$--popover-font-size: $--font-size-base !default;
$--popover-border-color: $--border-color-lighter !default;
$--popover-padding: 16px 20px !default;
