@mixin close-button {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    opacity: 0.75;
    outline: none;
    line-height: 1;
    background-color: transparent;
    border: none;

    i {
        width: 14px;
        height: 14px;
        display: inline-block;
        color: $--color-text-regular;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &:hover,
    &:active,
    &:focus {
        opacity: 1;
    }
}
