@include b(popper) {
    position: absolute;
    z-index: $--index-popper;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    box-sizing: border-box;

    &:focus:active,
    &:focus {
        outline-width: 0;
    }

    @include e(arrow) {
        &,
        &::after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
        }

        & {
            border-width: $--popover-arrow-size;
            filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
        }

        &::after {
            content: ' ';
            border-width: $--popover-arrow-size;
        }
    }

    &[data-popper-placement^='top'] {
        .bk-popper__arrow {
            bottom: -$--popover-arrow-size;
            left: 50%;
            margin-right: #{$--popover-arrow-size / 2};
            border-top-color: $--popover-border-color;
            border-bottom-width: 0;

            &::after {
                bottom: 0;
                margin-left: -$--popover-arrow-size;
                border-top-color: $--popover-background-color;
                border-bottom-width: 0;
            }
        }
    }

    &[data-popper-placement^='bottom'] {
        .bk-popper__arrow {
            top: -$--popover-arrow-size;
            left: 50%;
            margin-right: #{$--popover-arrow-size / 2};
            border-top-width: 0;
            border-bottom-color: $--popover-border-color;

            &::after {
                top: 0;
                margin-left: -$--popover-arrow-size;
                border-top-width: 0;
                border-bottom-color: $--popover-background-color;
            }
        }
    }

    &[data-popper-placement^='right'] {
        .bk-popper__arrow {
            top: 50%;
            left: -$--popover-arrow-size;
            margin-bottom: #{$--popover-arrow-size / 2};
            border-right-color: $--popover-border-color;
            border-left-width: 0;

            &::after {
                bottom: -$--popover-arrow-size;
                left: 0;
                border-right-color: $--popover-background-color;
                border-left-width: 0;
            }
        }
    }

    &[data-popper-placement^='left'] {
        .bk-popper__arrow {
            top: 50%;
            right: -$--popover-arrow-size;
            margin-bottom: #{$--popover-arrow-size / 2};
            border-right-width: 0;
            border-left-color: $--popover-border-color;

            &::after {
                right: 0;
                bottom: -$--popover-arrow-size;
                margin-left: -$--popover-arrow-size;
                border-right-width: 0;
                border-left-color: $--popover-background-color;
            }
        }
    }
}
