/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Toast
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Modal
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* BEM support Func
 -------------------------- */
.bk-switch {
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  position: relative;
  line-height: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}
.bk-switch__core {
  margin: 0;
  display: inline-block;
  position: relative;
  width: 2em;
  height: 1em;
  border: 1px solid #dcdfe6;
  outline: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  background: #dcdfe6;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  vertical-align: middle;
}
.bk-switch__core::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.1em;
  border-radius: 100%;
  transition: all 0.3s;
  width: 0.75em;
  height: 0.75em;
  background-color: #ffffff;
}

.bk-switch__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}
.bk-switch__input:checked + .bk-switch__core::after {
  left: calc(100% - 0.1em - 0.75em);
  background-color: #ffffff;
}
.bk-switch__input:disabled + .bk-switch__core {
  cursor: default;
  opacity: 0.5;
}

.bk-switch--default .bk-switch__input:checked + .bk-switch__core {
  background: #409eff;
}

.bk-switch--success .bk-switch__input:checked + .bk-switch__core {
  background: #67c23a;
}

.bk-switch--info .bk-switch__input:checked + .bk-switch__core {
  background: #909399;
}

.bk-switch--warning .bk-switch__input:checked + .bk-switch__core {
  background: #e6a23c;
}

.bk-switch--danger .bk-switch__input:checked + .bk-switch__core {
  background: #f56c6c;
}