:host {
    padding: 0;
    display: block;
    position: relative;
}

:host(:not(.is-left):not(.is-right)) {
    ::slotted(bk-tab-header:first-of-type) {
        padding-left: 0;
    }

    ::slotted(bk-tab-header:last-of-type) {
        padding-right: 0;
    }
}

@include b(tab-header-group) {
    overflow: hidden;
    margin-bottom: -1px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $--border-color-light;
        z-index: $--index-normal;
    }

    @include when(scrollable) {
        padding: 0 20px;
        box-sizing: border-box;
    }

    @include e(scroll) {
        overflow: hidden;
    }

    @include e(nav) {
        white-space: nowrap;
        position: relative;
        transition: transform 0.3s;
        float: left;
        z-index: #{$--index-normal + 1};

        @include when(stretch) {
            min-width: 100%;
            display: flex;
            & > * {
                flex: 1;
                text-align: center;
            }
        }
    }

    @include e(active-bar) {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $--color-primary;
        z-index: 1;
        transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        list-style: none;
    }
}

:host(.is-left),
:host(.is-right) {
    .bk-tab-header-group {
        overflow: hidden;
        height: 100%;
        margin-bottom: 0;

        &::after {
            height: 100%;
            width: 2px;
            bottom: auto;
            top: 0;
        }

        .bk-tab-header-group__scroll {
            height: 100%;
        }

        .bk-tab-header-group__nav {
            float: none;
        }

        .bk-tab-header-group__active-bar {
            top: 0;
            bottom: auto;
            width: 2px;
            height: auto;
        }
    }

    ::slotted(bk-tab-header) {
        display: block;
    }
}

:host(.is-left) {
    .bk-tab-header-group {
        float: left;
        margin-bottom: 0;
        margin-right: 9px;

        &::after {
            left: auto;
            right: 0;
        }
    }

    .bk-tab-header-group__active-bar {
        right: 0;
        left: auto;
    }

    ::slotted(bk-tab-header) {
        text-align: right;
    }
}

:host(.is-right) {
    .bk-tab-header-group {
        float: right;
        margin-bottom: 0;
        margin-left: 9px;

        &::after {
            left: 0;
            right: auto;
        }
    }
}

:host(.is-bottom) {
    .bk-tab-header-group {
        margin-bottom: 0;
        margin-top: 9px;
    }
}

:host(.is-top) {
    .bk-tab-header-group {
        margin-bottom: 9px;
    }
}
